* {
  box-sizing: border-box;
  font-family:Helvetica,sans-serif;
  width: auto;
  height: auto;
  padding: 0  ;
  margin: 0;
}
body{
  background-color: #EDF2C5;
  width: 1260px;
  height: auto;
  padding: 0 160px ;
  margin: 0 ;
}
header{

}
h1{
  width:271px;
  height: 42px;
  font-size: 44px;
  float: left;
  font-family: Arial Black;
  text-align: left;
  color:#778A50;
  margin-top: 53px;
  margin-bottom: 8px;
}

.btn a{
  float:right;
  margin-right: 5px;
  width:auto;
  height: 42px;
  margin-top: 53px;
  margin-bottom: 8px;

}
h4{
  margin: 3px;
  border:#778A50 1px solid;
  border-radius:5px;
  background-color: #EDF2C5;
  font-size: 12px;
  font-family: Arial Black;
  color: #778A50;
  text-align: center;
  box-shadow:2px 2px 1px rgba(20%,20%,40%,0.5);
}
.vertical{
  width:2px;
  height:23px;
  color: #778A50;
}
.mian-area{
  float: none;
}
.container{
  max-width: 1260px;
  max-height: 940;
  margin-left: auto;
  margin-right: auto;
}


.sidebar-left{
  width:48%;
  float:left;
}

h3{
  background-color: #778A50;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 15px;
  font-size: 16px;
  color: #EDF2C5;
  border-radius: 5px;
  box-shadow:2px 2px 3px rgba(20%,20%,40%,0.5);
 }
.sidebar-left img{
  margin-top: 15px;
  margin-right:10px;
  float:left;
  width:auto;
  height:auto;
}

.sidebar-right{
  width:48%;
  float:right;
  font-size: 12px;

}
.sidebar-right-p{
  width:auto;
  height:140px;
  background-color: #F7FBDA;
  margin-top: 15px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;

}
.sidebar-right p{
  margin: 15px;
}
.site-nav{
  clear: both;
    width: 940px;
    height: 44px;
    background-color: #778a50;
    border-radius: 3px;
    margin-top: 20px;
   box-shadow: 2px 2px 5px #778a50;
}
.site-nav ul{
margin: 0;
padding: 0;
}
.site-nav li{
  list-style: none;
  float:left;
  margin-right: 60px;
  color: #EDF2C5;
  background-color:  #778A50;
  margin: 16px 30px 16px 30px;
}
.site-nav a{
  display: block;
  color: #EDF2C5;
  padding: 16px 30px;
}
.sidebar-hr{
  margin: 15px;
  color: #7D7D7D;
  size:1px;
}

footer{

  background-color: #778A50;
  text-align:center;
  color:#EDF2C5;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: ArialMT Regular,Helvetica,sans-serif;
  font-size: 12px;
}
#footer{
  position:absolute;
  box-sizing: border-box;
  bottom: -200;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  clear: both;

}
